.maincontainer{
  height: 100vh;
  /* border:1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  height: 50vh;
  margin: 50px;
  /* border:1px solid green */

}
.col{
/* border:1px solid red; */
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap:50px
}
.title{
  font-size: 48px;
  font-weight: 900;
  text-transform: uppercase;
  background: linear-gradient(to bottom,var(--color-primary),var(--color-secondary));
  background-clip: text;
  -webkit-text-fill-color: transparent;

}
.description{
  font-size: 24px;
  line-height: 2rem;
}
.button{
  padding: 20px;
  cursor: pointer;
  width: 100px;
  background-color: var(--color-primary);
  border: none;
  border-radius: var(--size-border-raduis);
  color: white;
  text-transform: uppercase;
  font-weight: bold;

}

