.container{
  display: flex;
  /* justify-content: space-around; */
}
.sidecontainer{
border:1px solid red;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.imagecontainer{
  border:1px solid green

}
