.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid var(--color-primary);
    border-radius: 30px;
    padding: 2px;
    position: relative;
    cursor: pointer;
    width:50px
}
.darkmode{
}
.switcher{
    width: 20px;
    border-radius: 50%;
    position: absolute;
    aspect-ratio: 1/1;
    background-color: gray;
}