.maincontainer{
    display: grid;
    grid-template-columns: repeat(3,33%);
    gap: 15px ;
    margin: 10px;

}
.imageContainer{
    /* border:1px solid white; */
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.linkcard{
border:1px solid;
border-radius: 20px;
}
.content{
    /* border:1px solid red */
}
.title,.description{
padding: 10px;
}